<h1 class="page-header text-center">Anagram Generator</h1>
<div class="col-md-6 col-md-offset-3">
  <form class="form" action="/" method="post">
    <div class="form-group">
      <h2 class="text-center">Welcome to our anagram generator</h2>
      <input type="text" name="word" class="form-control">
    </div>
    <input type="submit" class="btn btn-primary" value="Show Me My Anagrams">
  </form>
</div>
